@import "tailwindcss";

/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@layer{

    .button{
        @apply py-2 px-4 rounded cursor-pointer transition-all;
    }

    .title{
        @apply text-green-500 text-2xl font-bold mb-4; 
    }

    .loginBtn{
        @apply border border-green-600 mr-2 hover:bg-green-600 hover:text-white;
    }

    .singupBtn{
        @apply bg-green-600 text-white hover:bg-green-700;
    }

    .header{
        @apply px-4 bg-[#f0ece5];
    }
    .nav{
        @apply flex justify-between items-center py-4 px-8 relative;
    }
    .logo{
        @apply flex justify-between items-center;
    }
    .menuIcon{
        @apply text-2xl font-bold cursor-pointer md:hidden;
    }
    .items{
        @apply flex flex-col md:flex-row md:justify-evenly md:items-center;
    }
    .singleItem{
        @apply px-4 font-semibold text-xl hover:text-green-600 transition-all;
    }
    .iconDiv{
        @apply md:flex md:justify-around md:items-center hidden;
    }
    .icons{
        @apply px-4 text-2xl inline my-auto space-x-2 cursor-pointer;
    }
    .singleIcon{
        @apply hover:text-green-600;
    }
    .banner{
        @apply mt-4 md:mt-20 p-0;
    }
    .bannerTitle{
        @apply w-full md:w-1/2 mx-auto text-center;
    }
    .bannerTitle h1{
        @apply text-2xl md:text-4xl font-bold;
    }

    .bannerTitle p{
        @apply mt-8 pb-8;
    }
    .bannerImg{
        @apply w-[600px] md:w-[830px] h-[600px] md:h-[830px] mx-auto;
    }

    .mainContainer{
        @apply px-4 md:container mx-auto;
    }
    .service{
        @apply py-20
    }

    .serviceCardContainer{
        @apply grid grid-cols-1 md:grid-cols-3 gap-4;
    }

    .serviceCard{
        @apply bg-[#efebe3] rounded-md p-8 text-center shadow-md hover:shadow-xl transition-all;
    }

    .cardTitle{
        @apply text-xl font-bold py-2;
    }

    .cardImg{
        @apply mx-auto bg-white rounded-full p-4;
    }

    .products{
        @apply bg-[#efebe3] p-8 md:p-12;
    }

    .offerItem{
        @apply w-full md:w-1/3 bg-linear-to-tl from-green-100 to-green-500 p-8 rounded-md shadow-2xl;
    }

    .productTitle{
        @apply text-2xl font-bold text-white;
    }

    .offerProduct{
        @apply ;
    } 

    .offersProducts{
        @apply grid grid-cols-1 md:grid-cols-2;
    }
}