@import "tailwindcss";

/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@layer{
    /* common style  */

    .button{
        @apply py-2 px-4 rounded cursor-pointer transition-all;
    }

    .loginBtn{
        @apply border border-green-600 mr-2 hover:bg-green-600 hover:text-white;
    }

    .singupBtn{
        @apply bg-green-600 text-white hover:bg-green-700;
    }

    .header{
        @apply px-4 lg:container lg:mx-auto bg-linear-to-b from-bg-[#f0ece4] to-bg-[#fdfdfd];
    }
    .nav{
        @apply flex justify-between items-center py-4 px-8 relative;
    }
    .logo{
        @apply flex justify-between items-center;
    }
    .menuIcon{
        @apply text-2xl font-bold cursor-pointer md:hidden;
    }
    .items{
        @apply flex flex-col md:flex-row md:justify-evenly md:items-center;
    }
    .singleItem{
        @apply px-4 font-semibold text-xl hover:text-green-600 transition-all;
    }
    .iconDiv{
        @apply md:flex md:justify-around md:items-center hidden;
    }
    .icons{
        @apply px-4 text-2xl inline my-auto space-x-2 cursor-pointer;
    }
    .singleIcon{
        @apply hover:text-green-600;
    }
}